body,h1,h2,h3,h4,h5,h6{
    font-family:"Microsoft YaHei","WenQuanYi Micro Hei", "Hiragino Sans GB",Arial,Helvetica,sans-serif;
}
.standout-section{
    padding-top: 40px;
    padding-bottom:40px;
    color: #51a5cf;
    font-size: 16px;
    width: auto;
    background-size: cover;
    background: transparent url(../images/header_main_bg_earth.png) no-repeat;
    background-size:100%;
    font-family:"Microsoft YaHei","WenQuanYi Micro Hei", "Hiragino Sans GB",Arial,Helvetica,sans-serif;
}
.text-inverse{
    color:#fff
}
.homepage-tile{
    width:100%;
    padding:0;
    margin:0;
}
.homepage-tile .tile-split-title{
    padding-bottom:45%
}

@media (max-width:767px){
    .homepage-tile .tile-split-title{
        padding-bottom:150px
    }
}

.homepage-tile .tile-split-image{
    margin-top:10%;
    padding-bottom:45%
}
.homepage-tile .tile-content-text{
    padding-left:15px
}
.homepage-tile .tile-content-full-image{
    max-width:100%;
    max-height:100%
}
.homepage-tile .tile-content-split-image{
    max-width:70%;
    max-height:70%;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}
.homepage-tile .tile-title{
    margin-top:5px;
    margin-bottom:5px;
}
.homepage-tile .tile-content-split-image-small{
    max-width:70%;
    max-height:70%;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    max-height:50%;
    max-width:50%;
}
.homepage-tile .tile-full-image,.homepage-tile .tile-split-title,.homepage-tile .tile-split-image,.homepage-tile title-split-status{
    position:relative;
}
.homepage-tile .tile-inner{
    position:absolute;
    width:100%;
    left:0%;
    right:0;
    top:0;
    bottom:0;
    text-align:left;
}
.homepage-tile .tile-icon{
    color: #4a4a4a;
    opacity:0.2;
    /*float:left;*/
    margin:1rem;
    font-size:3em;
}
.section.section-slim{
    /*background:-webkit-gradient(linear,left top,45%bottom,from(rgba(255, 255, 255, 0.7)),color-stop(0.55,rgba(255,255,255,0.2)),color-stop(0.55,rgba(255,255,255,0)));*/
    display:block;
}
.section-inverse{
    background-color:#4e4e4e;
}
.section-inverse.section-inverse-standout{
    background-color: #ff9746;
}
.section-inverse.section-inverse-standout-alternate{
    background-color:#1f8fc1;
}
.section.section-green{
    background-color: #6fd682;
}
.section.section-yellow{
    background-color: #fccb34;
}
.section.section-orange{
    background-color: #f89056;
}
.section.section-purple{
    background-color: #8358a4;
}
.section.section-pink{
    background-color: #e1546e;
}
.section.section-blank{
    background-color:#ffffff;
}
.section.section-blue{
    background-color: #6c9ce9;
}
.section.section-background{
    background-color: #f8fbff;
}

.col-md-8{
    margin-bottom:0px;
}
.section.section-transparent{
    background: none;
}
.homepage-tile-numbers{
    font-family: 'Raleway';
}

/* 成功案例精选 */
.card{
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    padding:15px;
    color: #3c3c3d;
    /*background-image: url('../images/paperbg.png');*/
    background-color: #efefef;
    float:left;
    /*border-top:5px solid #557ab7;*/
    border-top: 5px solid #51a5cf;
}
.card p{
    margin:0;
    font-size:small;
}
.card img{
    height:60px;
    width:60px;
    float:right;
}
.card-name{
    color: #2b2b2b;
    padding-bottom:6px;
    border-bottom:1px solid #d9d9d9;
    font-weight:normal;
}
/*首页-团队图片轮播*/
.carousel-inner img{
    border-radius: 10px;
}

/** 浮动拨打电话小窗口**/
.float-box{
    border-radius: 7px;
    background:#51a5cf;
    bottom: 75%;
    font-size: 14px;
    color:#FFFFFF;
    width: 50px;
    height: 50px;
    right:10px;
    position: fixed;
    z-index: 999;
    text-align: center;
    padding:10px 0px 0px 0px;
}
.float-box a{
    color: #ffffff;
    animation: shake 2s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* 设置中等屏幕宽度下顶部导航条各个条目之间的间隔 */
.hint--right > span {
    display: block;
    margin-right: 20px;
}

/* 各留学计划页面css*/
/* 顶部计划切换标签*/
.photo_mask_layer{
    height:100%;
    width:100%;
    background-color:#000000; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);
}
.plans-category-bar{
    text-align: center;
    height:20%;
    margin-bottom:0;
    width:100%;
}
.plans-category-bar img{
    position: relative;
    top:-20px;
}
.plans-category-block{
    /*background-color: #eeeeee;*/
    font-size:2rem;
    color: #c9c7c6;
    margin-bottom:0;
}
.plans-category-block .current{
    color: #379ccf;
}
.plans-category-block:hover{
    color: #379ccf;
    font-weight:bold;
}
.plans-category-bar a{
    color: rgba(55, 156, 207, 0.51);
}
.plans-category-bar a:hover{
    color: #379ccf;
}
.plans-category-bar .current a{
    color:#379ccf;
    font-weight:bold;
}
.plans-category-bar .text{
    margin-top:10px;
    margin-bottom:10px;
}
.plans-category-bar-xs{
    position: relative;
    top:-40px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.plans-category-bar-xs .current{
    background-color: #51a5cf;
    color:#FFFFFF;
    border-radius: 5px;
}
.plans-category-bar-xs a{
    color:#FFFFFF;
}
.plans-category-bar-xs .current a{
    color:#FFFFFF;
}
/*计划详情*/
.plan-content{
    margin-top:0;
    padding-top:60px;
    overflow: auto;
}
.plan-content span{
    color: #51a5cf;
}
.plan-content h2{
    color:#4e4e4e;
    text-align: center;
}
.plan-content-left{
    padding:30px;
    line-height:40px;
}
.plan-content-left li{
    line-height: 30px;
}
@media(min-width: 767px){
    .plan-content-ins-left  .plan-content-icon-dot{
        background:transparent;
    }
}
@media (max-width: 767px){
    .plan-content-ins-left{
        border-left: #bbbbbb dashed 1px;
    }
}
.plan-content-right{
    border-left: #bbbbbb dashed 1px;
}
.plan-content-right-block{
    background: rgba(81, 165, 207, 0.13);
    padding:5px 10px 5px 15px;
    margin-bottom:40px;
    border-radius: 10px;
}
.plan-content-right-block:hover{
    box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.55);
}
.plan-content-right-block .title{
    color: #4e4e4e;
    font-size:15px;
    font-weight:normal;
}
.plan-content-right-block .title b{
    font-size:18px;
    font-weight: bold;
}
.plan-content-right-block p{
    font-size:14px;
}
.plan-content-icon-dot{
    position:relative;
    left:-35px;
    top:18px;
    background: #51a5cf;
    border-radius: 50%;
    height:10px;
    width:10px;
}
.plan-content-ins-top{
    text-align: center;
    color: #1d1d1d;
    font-size: 18px;
    line-height: 35px;
    margin-bottom:30px;
}
.plan-content-ins-top h1{
    color: #195785;
    padding-bottom: 10px;
}
.plans-more{
    padding:0;
    margin:50px 0 100px 0;
    line-height:30px;
}
.plans-more h2{
    color:#3c3c3d;
}
.plans-more h5{
    color:#3c3c3d;
}
.plans-more li{
    line-height:35px;
}
.plans-more hr{
    margin:30px 0 50px 0;
    border-bottom: 2px solid rgba(48, 46, 46, 0.2);
}
.plans-more-consult .btn{
    color: #379ccf !important;
    border-color: #379ccf !important;
    font-size:16px;
    font-weight:normal;
}
.plans-more-consult .btn:hover{
    color: #ffffff !important;
    background-color: #379ccf !important;
}




/* 公司介绍页面*/

.company-left{
    margin-top:80px;
    background: #000;
    opacity:0.8;
    padding:20px;
    font-size:14px;
    color:#FFFFFF;
}
.motto{
    padding:0;
    margin: 100px 0 100px 0;
    line-height:30px;
}
.motto li{
    line-height:35px;
}
.motto hr{
    margin:30px 0 50px 0;
    border-bottom: 2px solid rgba(48, 46, 46, 0.2);
}

/* 团队介绍相关css */
.single-member{
    width:280px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:0;
    background-color: #fff;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.member-image img{
    max-height:100%;
    vertical-align: middle;
}
.wrap-single-member{
    text-align: center;
}

#teachers h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 0;
    text-transform: uppercase;
}
#teachers h5 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 22px;
}
#teachers p {
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 30px;
    margin-bottom: 10px;
    text-align: left;
}
/*= 人物卡片 css =*/
.effect-3{
    max-height: 302px;
    min-height: 302px;
    overflow: hidden;
}
.effect-3 h3{
    padding-top: 7px;
    line-height: 33px;
    color: #3c3c3d;
}
.effect-3 h5{
    color: #3c3c3d;
}
.effect-3 .member-image{
    border-bottom: 5px solid #1b3a57;
    transition: 0.4s;
    height: 212px;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.effect-3 .member-info{
    transition: 0.4s;
}
.effect-3 .member-image img{
    width: 100%;
    vertical-align: bottom;
}
.effect-3 .social-touch{
    background-color: #1b3a57;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    transition: 0.4s;
}
.effect-3:hover .member-image{
    border-bottom: 0;
    border-radius: 0 0 50px 50px;
    height: 81px;
    display: inline-block;
    overflow: hidden;
    width: 109px;
    transition: 0.4s;
}
/*= 人物卡片 css end =*/
@media only screen and (max-width: 980px){
    .row{
        width: 100%;
        margin: 110px 0;
    }
    .team-members{
        text-align: center;
    }
    .single-member{
        float: none;
        display: inline-block;
        vertical-align: bottom;
    }
}
/*= Media Query End*/
/*海外mentor*/
.single-mentor{
    margin:20px auto;
    /*margin-bottom:40px;*/
    width:280px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    font-size: 12px;
    text-align: left;
    padding:0;
    overflow: hidden;
}
.single-mentor img{
    width:115px;
    height:110px;
    float:left;
    border-right:5px solid #1b3a57;
    margin-right:10px;
}
.single-mentor h3{
    margin:14px 0 7px 0;
    font-size: 17px;
    color:#3c3c3d;
    /*font-weight:normal;*/
}
.single-mentor p{
    margin:0;
    line-height:20px;
    color: #676768;
}
.mentor-more-consult{
    margin-top:100px;
    text-align:center;
}
.more-mentors-button{
    color: #1995c9;
    text-align: center;
    cursor:pointer;
}

/*对53kf客服系统样式进行修改*/
/*屏蔽53kf的广告*/
#iconDivMain1 div:nth-child(2),#mnkf_ad,#ad_html,#hz6d_iframe_logo {
    display: none !important;
}

/*!*对话界面左浮动*!
.mnkf_content_head{
    float:left;
}
.mnkf_content_body{
    float:left;
}*/


